@media (max-width: 1366px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }

    .header {
        top: 0;
        padding: 25px 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .top__title {
        margin-bottom: 20px;
        font-size: 75px;
        line-height: 90px;
    }

    .top__inner img {
        width: 80%;
    }

    .top__descr {
        margin: 15px 0 25px;
    }

    .title {
        padding-top: 40px;
    }

    .products__slider-box {
        padding-top: 0;
    }

    .products__slider-text {
        left: 50%;
        right: auto;
        top: -105px;
        bottom: auto;
    }

    .benefits {
        .title {
            padding-top: 10px;
        }
    }

    .benefits__item {
        margin-bottom: 80px;
    }
}

@media (max-width: 1280px) {
    .benefits__item {
        width: 45%;
    }

    .benefits__item:first-child::before {
        width: 59%;
    }

    .benefits__item:nth-child(3)::before {
        width: 76%;
    }

    .benefits__item:nth-child(3)::after {
        width: 38%;
    }
}

@media (max-width: 1180px) {
    .specification__box-2 {
        margin-top: 155px;
    }

    .specification__box-4 {
        margin-top: 130px;
    }

    .specification__box-4::before {
        left: -196px;
    }
}

@media (max-width: 1100px) {
    html,
    body {
        overflow: visible;
    }

    .menu {
        order: 1;
    }

    .menu__list {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: auto;
        padding-top: 90px;
        padding-left: 24px;
        background: rgba($color: #1c1c1c, $alpha: 0.9);
        transform: translateX(-100%);
        transition: transform 0.5s;

        &--active {
            transform: translateX(0);
            transition: transform 0.5s;
        }
    }

    .menu__list-phone,
    .menu__list-link {
        display: block;
    }

    .menu__list-item {
        margin-bottom: 35px;

        &:first-child() {
            margin-top: auto;
        }
    }

    .menu__list-phone {
        position: relative;
        margin: auto 0;
        padding-top: 33px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        &::before {
            content: "";
            position: absolute;
            left: -24px;
            right: 0;
            top: 0;
            border-top: 1px solid rgba($color: #fff, $alpha: 0.24);
        }
    }

    .menu__list-item + .menu__list-item {
        padding-left: 0;
    }

    .menu__btn {
        display: block;
        outline: none;
        border: none;
        padding: 0;
        width: 100px;
        background-color: transparent;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            display: block;
            margin-bottom: 4px;
            margin-left: auto;
            width: 26px;
            height: 2px;
            background-color: #e0e0e0;
            transition: transform 0.5s;
        }

        &::after {
            margin-bottom: 0;
            margin-left: auto;
            width: 16px;
        }
    }

    .menu__btn.menu__btn--active {
        &::before {
            transform: translateY(6px) rotate(135deg);
        }

        &::after {
            width: 26px;
            transform: translateY(-6px) rotate(-135deg);
        }

        .menu__btn-line {
            opacity: 0;
            transition: opacity 0s;
        }
    }

    .menu__btn-line {
        display: block;
        margin-bottom: 4px;
        margin-left: auto;
        width: 24px;
        height: 2px;
        background-color: #e0e0e0;
        opacity: 1;
        transition: opacity 1s;
    }

    .header__phone {
        display: none;
    }

    .header__btn {
        margin-right: 0;
    }

    .header__phone-menu {
        margin-bottom: 20px;
    }

    .products__descr {
        padding-right: 15px;
    }

    .products__slider-box {
        padding-right: 20px;
    }

    .benefits__item:first-child::before,
    .benefits__item:nth-child(3)::before,
    .benefits__item:nth-child(3)::after {
        display: none;
    }

    .benefits__items {
        display: block;
    }

    .benefits__item {
        margin-bottom: 40px;
        width: 55%;

        &:nth-child(even) {
            margin-left: 200px;
            transform: translateY(0);
        }
    }

    .benefits__info {
        width: 50%;
    }

    .specification__box-1::before,
    .specification__box-2::before,
    .specification__box-3::before,
    .specification__box-4::before {
        display: none;
    }

    .contacts__inner {
        flex-wrap: wrap;
        padding-left: 0;
    }

    .contacts__form {
        margin-right: 0;
        width: 100%;
    }

    .contacts__info {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        width: 100%;
        text-align: center;

        &-box {
            width: 22%;
        }
    }

    .contacts__social-list {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin: auto;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .title {
        margin-bottom: 35px;
        padding-top: 50px;
        font-size: 35px;
        line-height: 42px;
    }

    .products__slider-text {
        left: 0%;
        top: -65px;
        width: 100%;
        font-size: 20px;
        line-height: 22px;
    }
}

@media (max-width: 940px) {
    .products__inner {
        flex-wrap: wrap;
    }

    .products__descr {
        margin-bottom: 40px;
        max-width: 100%;
    }

    .products__slider-box {
        margin: 0 auto;
        padding: 50px 0 60px;
    }

    .products__slider-text {
        top: -15px;
    }

    .title {
        text-align: center;
    }

    .benefits__item {
        width: 100%;

        &:nth-child(even) {
            margin-left: 0;
        }
    }

    .benefits__items {
        padding-left: 0;
    }

    .benefits__item:nth-child(3) {
        margin-left: 0;
    }

    .benefits__info {
        width: 100%;
    }

    .specification__box-2 {
        margin-top: 55px;
    }

    .specification__box-4 {
        margin-top: 40px;
    }

    .specification__inner {
        display: block;
        padding-left: 0;
    }

    .specification__item-img {
        width: 45% !important;
    }

    .specification__box {
        width: 100%;
        text-align: center;
    }

    .specification__item--center {
        text-align: center;
    }

    .specification {
        &__item--left {
            margin-right: 0;
        }

        &__item--right {
            margin-left: 0;
        }
    }
}

@media (max-width: 880px) {
    .questions__items {
        max-width: 90%;
    }

    .questions__item {
        max-width: 85%;
    }

    .contacts__info-box {
        width: 30%;
    }
}

@media (max-width: 680px) {
    .products__inner {
        padding-left: 0;
    }

    .products__slider-box {
        width: 90%;
    }

    .products__slider-text {
        font-size: 17px;
    }

    .questions__item-descr {
        padding: 0 25px 4px;
        font-size: 13px;
    }

    .contacts__info {
        display: none;
    }

    .contacts__form-line {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contacts__form-input {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 540px) {
    .top__title {
        display: none;
    }

    .top__wrapper {
        align-items: center;
    }

    .menu__btn {
        width: auto;
    }

    .scroll__btn {
        padding: 13px 0;
    }

    .products__slider-text {
        top: -25px;
    }

    .benefits__item {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        text-align: center;
    }

    .benefits__num {
        display: none;
    }

    .contacts__form-title {
        font-size: 18px;
    }

    .contacts__form-descr {
        font-size: 12px;
    }
}

@media (max-height: 375px) {
    .menu__list-item {
        margin-bottom: 15px;
    }
}

@media (max-height: 310px) {
    .menu__list-phone {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}